body > div.row > div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

div.row {
    display: flex;
    visibility: hidden;
}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30vw;
}